@import "tailwindcss";

body {
  font-weight: 400;
  line-height: 140%;
  margin: unset;
  padding: unset;
  letter-spacing: 0.2px;
}

@layer components {
  .container {
    @apply mx-auto !w-full !max-w-none xl:!max-w-screen-2xl px-5 lg:px-10;
  }
}
